
<div class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <div class="container">

            <div class="text-center">
                <div class="panel bg-light">
                    <div class="panel-heading">Qeydiyyat</div>
                    <div class="panel-body font-italic">Daxil olmaq ucun hesab yaratmaq </div>
                </div>
                <form class="m-t" asp-controller="Form" asp-action="Qeydiyyat" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn btn-primary m-b">Qeydiyyat et</button>
                        <p class="text-muted text-center"><small>Artiq hesabiniz var ?</small></p>
                        <button class="btn btn-sm btn-white btn-block" formmethod="post" formaction="Giris">Daxil ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*href="@Url.Action("Giris", "Form")"*@